.terraform/
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.d/
terraformv0.tfstate

terraform.tfstate.backup

terraformv0.tfvars

version

tmp
terraform_creating_&+storing_state_in_blob/blob_creation/commands.sh
terraform_creating_elastic_scaleset_with_postgres/terraform_creating_elastic_scaleset_with_postgres/.vscode/settings.json

.vscode
terraform_creating_elastic_scaleset_with_postgres/terraform_creating_&+storing_state_in_blob/blob_creation/commands.sh
terraform_creating_elastic_scaleset_with_postgres/terraform_creating_elastic_scaleset_with_postgres/.terraform.tfstate.lock.info
terraform_creating_and_storing_state_in_blob/blob_insert_into_container/terraform copy.tfstate
terraform_creating_and_storing_state_in_blob/blob_creation/terraformv.tfstate
terraform.tfvars

.tfvars


var.txt
terraform_creating_and_storing_state_in_blob/blob_creation/terraform.tfvars
